language: bash
os:
- linux
services:
- docker
branches:
  only:
  - main
env:
  global:
  - IMAGE_NAME=testimage
  - VERSION=test1
before_script:
- echo "$DOCKER_PASSWORD" |  docker login ghcr.io -u "$DOCKER_USERNAME" --password-stdin
script:
- docker build -t ghcr.io/${DOCKER_USERNAME}/${IMAGE_NAME}:${VERSION} .
- docker push ghcr.io/fenikks/${IMAGE_NAME}:${VERSION}
